<header id="default_header" class="header_style_1">
    <!-- header top -->
    <!-- end header top -->
    <!-- header bottom -->
    <header class="header" id="header">
      <nav class="navbar container">
        <a href="./index.html" class="brand">Duypbaha</a>
        <div class="float-right d-flex flex-row justify-content-center align-center">
          <div class="d-flex align-center">
            <a onclick="langswitch('ru')" style="text-decoration:none;cursor: pointer;"><p class="mylangstyle">RU</p></a>
          </div>
          <div class="d-flex align-center">
            <a onclick="langswitch('tm')" style="text-decoration:none;cursor: pointer;"><p class="mylangstyle">TM</p></a>
          </div>
          <div class="d-flex align-center">
            <a onclick="langswitch('en')" style="text-decoration:none;cursor: pointer;"><p class="mylangstyle">EN</p></a>
          </div>
        </div>
        <div class="menu" id="menu">
          <ul class="menu-list">
            <li class="menu-item">
              <a href="/<%- lang %>/" class="menu-link is-active">
                <i class="menu-icon ion-md-home"></i>
                <span class="menu-name"data-key="home">Главная</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="/<%- lang %>/cart" class="menu-link">
                <i class="menu-icon ion-md-search"></i>
                <span class="menu-name"data-key="cart">Cart</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="/<%- lang %>/blog" class="menu-link">
                <i class="menu-icon ion-md-cart"></i>
                <span class="menu-name" data-key="our-blog">Магазин</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="/<%- lang %>/about-us" class="menu-link">
                <i class="menu-icon ion-md-search"></i>
                <span class="menu-name"data-key="about-us">О нас</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="/<%- lang %>/contact" class="menu-link">
                <i class="menu-icon ion-md-heart"></i>
                <span class="menu-name"data-key="contact">контакты</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <script>
        document.querySelectorAll(".menu-link").forEach((link) => {
    if (link.href === window.location.href) {
        link.classList.add("is-active");
    }else{
      link.classList.remove('is-active');
    }
});

        </script>
    </header>

    
    <!-- header bottom end -->
  </header>
